<html>
  <head>
    <title>clientside_aws test app</title>
  </head>
  <body>
    <h1>
      Upload an image to clientside_aws S3
    </h1>
    <p>
      <form method='post' action='/image' enctype='multipart/form-data'>
        File: <input type="file" name="image" id="image"/>
        <input type="submit" value="Upload Image" name="submit"/>
      </form>
    </p>
    <hr>
    <h1>Here is the image, loaded directly from clientside_aws S3:</h1>
    <image src='/image' />
  </body>
</html>
